root = true

[*]
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
charset = utf-8

[*.vim]
indent_style = space
indent_size = 2

[*.vader]
indent_style = space
indent_size = 2
# trailing whitespace is meaningful in vader testfiles
trim_trailing_whitespace = false

[*.{ts,js,json}]
indent_style = space
indent_size = 2

[{package.json,.travis.yml}]
indent_style = space
indent_size = 2
